
.main{
  margin:40px;
  margin-left: 65px;
  background-color: aliceblue;
  border-radius: 20px;
  font-family: 'MyFont';
  width: 90%;
  height: 100%;
}
.main .right{
  width: 50%;
  height: 50%;
  float: right;
}
