/* .left{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding-right: 150px;
    margin-top: 50px;
}
.right{
    background-color: rgb(106, 106, 106);
    border-radius: 10px;
    opacity: 100%;
    width: 50%;
    height: 100%;
    float: right;
    margin-top: 50px;
    padding-right: 150px;
    text-align: center;

} */

