<form #form="ngForm" (ngSubmit)="signup(form.value)">
    <h3>Sign Up</h3> 
    <label for="username">Username</label>
    <input type="text" placeholder="Enter your Email" id="email" name="email" ngModel />
    <label for="password">Password</label>
    <input type="password" placeholder="Enter your Password" id="password" name="password" ngModel />

    <button style="border-radius: 10px;color: #000;">Register</button><br><br>
	<p style="text-align: center;">Already have an account?<br><a style="text-decoration: none;" routerLink="/login"><span style="color: rgb(255, 255, 255);">Login Here</span></a></p>
  </form>
