/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-image: url('/assets/images/bg.jpg');

} 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/static/Poppins-Medium.ttf');
  }
  